bin/
obj/
.vs/
**/*.db
**/app.db
**/*.user
**/*.suo
**/*.log
**/*.pdb
**/*.mdb
**/.DS_Store
.git
.gitignore
node_modules
wwwroot/lib
**/*.csproj.user
Properties/launchSettings.json
metaverse-491714-0088d7861d87.json
.env
